<ion-header >
  <ion-toolbar >
    <ion-title>Dermo App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">


  <div [ngClass]="{'web-view':!isPhone}">
  
    <div *ngIf="!isPhone">
      <h2>Historia médica del paciente:</h2>
      <h2>{{paciente?.nombre}}</h2>
      <ion-list>
        <ion-item>
          <ion-label>Información del paciente</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea [autoGrow]="true" disabled="true" placeholder="Escriba el tratamiento" 
          value="{{informacionPaciente}}">
        </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Fecha última actualización</ion-label>
          <ion-input value="{{historiaClinica?.ultimaActualizacion| date}}"></ion-input>
        </ion-item>
        </ion-list>


    </div>

  <h2>Listado de consultas</h2>

  <ion-list id="lista-consultas-medicas">
    <ion-item *ngFor="let casoMedico of historiaClinica?.casosMedicos; let i = index"> 
      <ion-label>Caso medico {{i+1}}</ion-label>
      <ion-button slot="end" id="caso-medico-{{i+1}}" [routerLink]="['/detalle-consulta',{ casoMedicoId: casoMedico}]">Ver detalle</ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
