<ion-header >
  <ion-toolbar >
    <ion-title>Dermo App</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="text-align: center;">


  <div [ngClass]="{'web-view':!isPhone}">
  
    <div *ngIf="!isPhone">
      <h2>Historia médila del paciente:</h2>
      <h2>Nombre</h2>
      <ion-list>
        <ion-item>
          <ion-label>Información último caso médico</ion-label>
        </ion-item>
        <ion-item>
          <ion-textarea [autoGrow]="true" disabled="true" placeholder="Escriba el tratamiento" 
          value="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tellus sem, auctor accumsan egestas sed, venenatis at ex. Nam consequat ex odio, suscipit rhoncus orci dictum eget. Aenean sit amet ligula varius felis facilisis lacinia nec volutpat nulla. Duis ullamcorper sit amet turpis sed blandit. Integer pretium massa eu faucibus interdum.">
        </ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>Fecha última actualización</ion-label>
          <ion-input value="xx/xx/xxx"></ion-input>
        </ion-item>
        </ion-list>


    </div>

  <h2>Listado de consultas</h2>

  <ion-list>
    <ion-item > 
      <ion-label>Consulta 1</ion-label>
      <ion-button slot="end" [routerLink]="'/detalle-consulta'">Ver detalle</ion-button>
    </ion-item>
  </ion-list>
</div>
</ion-content>
