<ion-header >
  <ion-toolbar >
    <ion-title>Agenda</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="eventos.length ===0">
      <ion-card-header>
        <ion-card-title>No tiene ninguna cita asignada</ion-card-title>
      </ion-card-header>
    </ion-item>
    <ion-item *ngFor="let evento of eventos; let i = index;">
      <ion-card-header id="agenda-{{i}}">
        <ion-card-title>Cita médica {{i+1}}</ion-card-title>
        <ion-card-subtitle>El horario de la cita médica es: {{evento.start_date | date}}</ion-card-subtitle>
      </ion-card-header>
    </ion-item>
  </ion-list>
  <ion-card>
  </ion-card>

</ion-content>
