<ion-header >
  <ion-toolbar >
    <ion-title>{{ 'historiasClinicas.titulo'| translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >

  <div class="web-view">
    <div class="input-group">
      <div>
         <form [formGroup]="filtroPacienteForm">
          <ion-item>
            <ion-label>{{ 'historiasClinicas.filtrarPaciente'| translate }}</ion-label>
            <ion-input type="text" placeholder="{{ 'historiasClinicas.placeHolderFiltro'| translate }}" formControlName="pacienteCrtl"></ion-input>
          </ion-item>
        </form>

        <br>
        <ion-list id="lista-pacientes">
          <ion-item *ngFor="let paciente of filtroPacientes | async;" lines="none">
            <ion-label>{{paciente.nombre}}</ion-label>
            <ion-button slot="end" (click)="verHistoriaClinica(paciente)">{{ 'historiasClinicas.botonDetalles'| translate }}</ion-button>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>

