<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <div [ngClass]="{'web-inicio':!isPhone}">
  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title class="inicio-title title" >{{ 'inicio.titulo'| translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!isPhone" id="explicacion" class="center">
    <strong class="capitalize">{{ 'inicio.tituloPhone'| translate }}</strong>
  </div>

  <div id="container" class="title">
    <strong class="capitalize">{{user.names | uppercase}}</strong>
  </div>

  <br>

  <div class="inicio-description">
    <p>{{ 'inicio.objetivo'| translate }}</p>
  </div>
  <div class="spacer" style="width:300px;height:51px;" id="login-spacer2"></div>

  <ion-button id="crear-consulta-button" *ngIf="isPhone" expand="block" [routerLink]="'/crear-consulta'">{{ 'inicio.botonCrearConsulta'| translate }}</ion-button>
  <ion-button id="casos-medicos-button" *ngIf="!isPhone" expand="block" [routerLink]="'/casos-medicos'">{{ 'inicio.botonVerCasosMedicos'| translate }}</ion-button>
</div>
</ion-content>
