<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding [fullscreen]="true">
  <div [ngClass]="{'web-inicio':!isPhone}">
  <ion-header collapse="condense" >
    <ion-toolbar >
      <ion-title class="inicio-title title" >Bienvenido a Dermo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="!isPhone" id="explicacion" class="center">
    <strong class="capitalize">Bienvenido a Dermo App</strong>
  </div>

  <div id="container" class="title">
    <strong class="capitalize">{{user.names | uppercase}}</strong>
  </div>

  <br>

  <div class="inicio-description">
    <p>El objetivo de DermoApp es apoyar a pacientes con problemas dermatológicos en el diagnóstico y tratamiento de lesiones dermatológicas, así como en la localización de dermatólogos especializados cercanos a las zonas en las que habita un paciente, cuando sea posible.</p>
  </div>
  <div class="spacer" style="width:300px;height:51px;" id="login-spacer2"></div>

  <ion-button id="crear-consulta-button" *ngIf="isPhone" expand="block" [routerLink]="'/crear-consulta'">Crear consulta</ion-button>
  <ion-button id="casos-medicos-button" *ngIf="!isPhone" expand="block" [routerLink]="'/casos-medicos'">Ver casos médicos</ion-button>
</div>
</ion-content>
