.web-inicio {
    max-width: 860px;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.title {
    padding-inline:0px;
    text-align: center;
}

.inicio-title {
    font-size:x-large;
}

.inicio-description {
    padding: 20px ;
    text-align:justify;
}
