<ion-header >
  <ion-toolbar>
    <ion-title>{{ 'casosMedicos.titulo'| translate }}</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <form [formGroup]="casosMedicosForm">
    <ion-item>
      <ion-label>{{ 'casosMedicos.buscarCasosMedicos'| translate }}</ion-label>
      <ion-input type="text" placeholder="{{ 'casosMedicos.placeHolderBuscarCasosMedicos'| translate }}" formControlName="casosMedicosCtrl"></ion-input>
    </ion-item>
  </form>


  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>{{ 'casosMedicos.idNo'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.nombrePaciente'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.tipo'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.forma'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.numero'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.distribucion'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.parteDelCuerpo'| translate }}</ion-col>
      <ion-col>{{ 'casosMedicos.seleccionar'| translate }}</ion-col>
    </ion-row>
    <ion-row *ngFor="let caso of filtroCasosMedicos | async; index as i" >
      <ion-col>{{ i + 1 }}</ion-col>
      <ion-col>{{ caso.paciente.nombre }}</ion-col>
      <ion-col>{{ caso.tipoLesion.value }}</ion-col>
      <ion-col>{{ caso.formaLesion.value }}</ion-col>
      <ion-col>{{ caso.numeroLesiones.value }}</ion-col>
      <ion-col>{{ caso.distribucion.value }}</ion-col>
      <ion-col>{{ caso.parteDelCuerpo }}</ion-col>
      <ion-col>
        <ion-button expand="block" (click)="verDetalleCasoMedico(caso)" >{{ 'casosMedicos.botonSeleccionar'| translate }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
