<ion-header >
  <ion-toolbar>
    <ion-title  style="color: #fff!important;">Casos medicos</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>No.</ion-col>
      <ion-col>Nombre paciente</ion-col>
      <ion-col>Descripción</ion-col>
      <ion-col>Seleccionar</ion-col>
    </ion-row>
    <ion-row *ngFor="let caso of casos; index as i">
      <ion-col>{{ i + 1 }}</ion-col>
      <ion-col>{{ caso.name }}</ion-col>
      <ion-col>{{ caso.descripcion }}</ion-col>
      <ion-col><ion-button [routerLink]="'/detalle-consulta'">Seleccionar</ion-button></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>