<ion-content padding>
    <nav>
      <ul class="list-item">
        <li><a href="#">{{ 'registroMedico.botonInicio'| translate }}</a></li>
        <li>
            <a *ngIf="lang ==='es'" (click)="cambiarIdioma('en')">English</a>
            <a *ngIf="lang ==='en'" (click)="cambiarIdioma('es')">Spanish</a>
        </li>
      </ul>
    </nav>
  <h1 class="center titulo-registro">
    {{ 'registroMedico.titulo'| translate }}
  </h1>
  <div class="web-registro">
	<form id="registro-form" (ngSubmit)="registrarse()" [formGroup]="registro">
		<div class="input-group">
			<ion-item>
        <ion-label>{{ 'registroMedico.nombre'| translate }}</ion-label>
				<ion-input type="text" placeholder="{{ 'registroMedico.nombre'| translate }}" formControlName="nombre"></ion-input>
			</ion-item>
      <div *ngIf="(nombre?.dirty || nombre?.touched) && nombre?.errors" class="form-error">
        <span *ngIf="nombre?.errors?.['required']">{{ 'registroMedico.nombreRequerido'| translate }}</span>
				<span *ngIf="nombre?.errors?.['minlength']">{{ 'registroMedico.minimoCaracteresNombre'| translate }}</span>
        <span *ngIf="nombre?.errors?.['maxlength']">{{ 'registroMedico.maximoCaracteresNombre'| translate }}</span>
			</div>

      <ion-item>
        <ion-label>{{ 'registroMedico.email'| translate }}</ion-label>
				<ion-input type="email" placeholder="{{ 'registroMedico.email'| translate }}" formControlName="email"></ion-input>
			</ion-item>
      <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="form-error">
				<span *ngIf="email?.errors?.['required']">{{ 'registroMedico.correoRequerido'| translate }}</span>
				<span *ngIf="email?.errors?.['email']">{{ 'registroMedico.invalidoCorreo'| translate }}</span>
			</div>

      <ion-item>
        <ion-label>{{ 'registroMedico.nacionalidad'| translate }}</ion-label>
        <ion-item>
          <ion-select formControlName="nacionalidad" placeholder="{{ 'registroMedico.seleccionNacionalidad'| translate }}" >
            <ion-select-option *ngFor="let nacion of nacionalidades" [value]="nacion">{{nacion}}</ion-select-option>
          </ion-select>
        </ion-item>
			</ion-item>
      <div *ngIf="(nacionalidad?.dirty || nacionalidad?.touched) && nacionalidad?.errors" class="form-error">
				<span *ngIf="nacionalidad?.errors?.['required']">{{ 'registroMedico.nacionalidadRequerida'| translate }}</span>
			</div>

      <ion-item>
        <ion-label>{{ 'registroMedico.especialidad'| translate }}</ion-label>
        <ion-item >
          <ion-select formControlName="especialidad"  placeholder="{{ 'registroMedico.seleccionEspecialidad'| translate }}" >
            <ion-select-option *ngFor="let especialidad of especialidades" [value]="especialidad.id">
              {{especialidad.value}}</ion-select-option>
          </ion-select>
        </ion-item>
			</ion-item>
      <div *ngIf="(especialidad?.dirty || especialidad?.touched) && especialidad?.errors" class="form-error">
				<span *ngIf="especialidad?.errors?.['required']">{{ 'registroMedico.especialidadRequerida'| translate }}</span>
			</div>

      <ion-item>
      <ion-label for="file">{{ 'registroMedico.licenciaMedica'| translate }}</ion-label>

        <input
        #inputFiles
        formControlName="licenciaMedica"
        id="file"
        type="file"
        name="pdf"
        formControlName="licenciaMedica"
        style="display:none;"
        (change)="onFileChange($event)">

        <ion-button [disabled]="file" (click)="attachFiles()" type="button" expand="block" >
          {{ file ? file.name: 'registroMedico.botonAgregarSoporte'| translate }}
        </ion-button>
      </ion-item>
      <div *ngIf="(licenciaMedica?.dirty || licenciaMedica?.touched) && licenciaMedica?.errors" class="form-error">
				<span *ngIf="licenciaMedica?.errors?.['required']">{{ 'registroMedico.licenciaRequerida'| translate }}</span>
			</div>


			<ion-item>
        <ion-label>{{ 'registroMedico.contrasena'| translate }}</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
      <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="form-error">
				<span *ngIf="password?.errors?.['required']">{{ 'registroMedico.contrasenaRequerida'| translate }}</span>
        <span *ngIf="password?.errors?.['minlength']">{{ 'registroMedico.minimoCaracteresContrasena'| translate }}</span>
        <span *ngIf="password?.errors?.['maxlength']">{{ 'registroMedico.maximoCaracteresContrasena'| translate }}</span>
      </div>

      <ion-item>
        <ion-label>{{ 'registroMedico.confirmacionContrasena'| translate }}</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="passwordConfirmation"></ion-input>
			</ion-item>
      <div *ngIf="(passwordConfirmation?.dirty || passwordConfirmation?.touched) && passwordConfirmation?.errors" class="form-error">
				<span *ngIf="passwordConfirmation?.errors?.['required']">{{ 'registroMedico.contrasenaRequerida'| translate }}</span>
        <span *ngIf="passwordConfirmation?.errors?.['minlength']">{{ 'registroMedico.minimoCaracteresContrasena'| translate }}</span>
        <span *ngIf="passwordConfirmation?.errors?.['maxlength']">{{ 'registroMedico.maximoCaracteresContrasena'| translate }}</span>
        <span *ngIf="passwordConfirmation?.errors?.['confirmedValidator']">{{ 'registroMedico.coincidenContrasenas'| translate }}</span>
      </div>
		</div>

    <div class="center boton-registro" >
      <ion-button id="register-button" type="submit" expand="block">
        {{ 'registroMedico.botonRegistrarse'| translate }}
      </ion-button>
    </div>
	</form>
</div>
</ion-content>

