.web-registro {
    max-width: 860px;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
}

.titulo-registro {
    padding-top: 96px;
}

.boton-registro {
    padding-top: 96px;
}
