<ion-content>
  <ion-header  >
    <ion-toolbar >
      <ion-title class="title-cuerpo" >
        {{ 'cuerpo.titulo'| translate }}
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" (click)="rotar()" >{{ 'cuerpo.rotar'| translate }}</ion-button>
  <div class="container">
    <img alt="Cuerpo" [src]="cuerpo"/>
    <div *ngIf="image===''">
      <button id="cabeza-button" class="btn-cabeza floating-btn" (click)="parteDelcuerpo('cabeza')">
        {{ 'cuerpo.cabeza'| translate }}</button>

      <button class="btn-torso floating-btn" (click)="parteDelcuerpo('torso')">
        {{ 'cuerpo.torso'| translate }}</button>

      <button class="btn-brazo-iz floating-btn"
      (click)="parteDelcuerpo('brazo-'+(rotacion === 'frente' ? 'izq':'der'))">
      {{ 'cuerpo.brazo'| translate }} {{rotacion === 'frente' ? 'Izq':'Der'}}</button>

      <button class="btn-brazo-de floating-btn"
      (click)="parteDelcuerpo('brazo-'+(rotacion === 'frente' ? 'der':'izq'))">
      {{ 'cuerpo.brazo'| translate }} {{rotacion === 'frente' ? 'Der':'Izq'}}</button>

      <!--<button class="btn-mano-iz floating-btn"
      (click)="parteDelcuerpo('mano-'+(rotacion === 'frente' ? 'izq':'der'))">
      {{ 'cuerpo.mano'| translate }}  {{rotacion === 'frente' ? 'Izq':'Der'}}</button>

      <button class="btn-mano-de floating-btn"
      (click)="parteDelcuerpo('mano-'+(rotacion === 'frente' ? 'der':'izq'))">
      {{ 'cuerpo.mano'| translate }}  {{rotacion === 'frente' ? 'Der':'Izq'}}</button>-->

      <button class="btn-pierna-iz floating-btn"
      (click)="parteDelcuerpo('pierna-'+(rotacion === 'frente' ? 'izq':'der'))">
      {{ 'cuerpo.pierna'| translate }}  {{rotacion === 'frente' ? 'Izq':'Der'}}</button>

      <button class="btn-pierna-de floating-btn"
      (click)="parteDelcuerpo('pierna-'+(rotacion === 'frente' ? 'der':'izq'))">
      {{ 'cuerpo.pierna'| translate }}  {{rotacion === 'frente' ? 'Der':'Izq'}}</button>

      <button class="btn-pie-iz floating-btn"
      (click)="parteDelcuerpo('pie-'+(rotacion === 'frente' ? 'izq':'der'))">
      {{ 'cuerpo.pie'| translate }} {{rotacion === 'frente' ? 'Izq':'Der'}}</button>

      <button class="btn-pie-de floating-btn"
      (click)="parteDelcuerpo('pie-'+(rotacion === 'frente' ? 'der':'izq'))">
      {{ 'cuerpo.pie'| translate }} {{rotacion === 'frente' ? 'Der':'Izq'}}</button>
    </div>
    <form [formGroup]="cuerpoForm"  *ngIf="image!==''">
    <ion-item>
      <ion-label>{{ 'cuerpo.parteCuerpo'| translate }}</ion-label>
      <ion-item>
        <ion-select formControlName="parteCuerpo" placeholder="{{ 'cuerpo.placeHolderParteCuerpo'| translate }}" >
          <ion-select-option *ngFor="let parte of partes" [value]="parte">{{parte.value}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-item>
    <div *ngIf="(parteCuerpo?.dirty || parteCuerpo?.touched) && parteCuerpo?.errors" class="form-error">
      <span *ngIf="parteCuerpo?.errors?.['required']">{{ 'cuerpo.escogerContinuar'| translate }}</span>
    </div>
  </form>
  </div>


</ion-content>
<ion-footer>
  <ion-button id="seleccionar-parte-button" type="button" expand="block" (click)="escoger()">
    {{ 'cuerpo.botonEscoger'| translate }}
  </ion-button>
</ion-footer>
