<ion-header>
	<ion-toolbar >
		<ion-title class="center">Perfil dermatológico</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form id="perfil-from" (ngSubmit)="verificar()" [formGroup]="perfilDermatologico">
		<div class="input-group">
      <div>
        <h3 class="question-title">Genético (características físicas)</h3>
        <ion-item>
          <ion-label class="question-label">¿De qué color son tus ojos?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="colorOjos" placeholder="Seleccione su color de ojos" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.colorOjos" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(colorOjos?.dirty || colorOjos?.touched) && colorOjos?.errors" class="form-error">
          <span *ngIf="colorOjos?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">¿Cuál es el color de tu cabello (natural y antes del envejecimiento)?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="colorCabello" placeholder="Seleccione su color de cabello" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.colorCabello" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(colorCabello?.dirty || colorCabello?.touched) && colorCabello?.errors" class="form-error">
          <span *ngIf="colorCabello?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">¿Cuál es el color de tu piel (áreas no expuestas)?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="colorPiel" placeholder="Seleccione su color de piel" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.colorPiel" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(colorPiel?.dirty || colorPiel?.touched) && colorPiel?.errors" class="form-error">
          <span *ngIf="colorPiel?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">¿Tienes pecas en áreas no expuestas?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="cantidadPecas" placeholder="Seleccione cantidad de pecas" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.cantidadPecas" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(cantidadPecas?.dirty || cantidadPecas?.touched) && cantidadPecas?.errors" class="form-error">
          <span *ngIf="cantidadPecas?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <h3 class="question-title">Sensibilidad (reacción a la exposición al sol)</h3>
      <div>
        <ion-item>
          <ion-label class="question-label">¿Que le pasa a tu piel si te expones al sol durante un período prolongado?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="exposicionAlSol" placeholder="Seleccione su condición" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.exposicionAlSol" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(exposicionAlSol?.dirty || exposicionAlSol?.touched) && exposicionAlSol?.errors" class="form-error">
          <span *ngIf="exposicionAlSol?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">¿Te bronceas después de exponerte al sol?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="bronceadoConElSol" placeholder="Seleccione su condición" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.bronceadoConElSol" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(bronceadoConElSol?.dirty || bronceadoConElSol?.touched) && bronceadoConElSol?.errors" class="form-error">
          <span *ngIf="bronceadoConElSol?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">¿Qué tan bronceado te pones?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="cantidadBronceado" placeholder="Seleccione su condición" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.cantidadBronceado" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(cantidadBronceado?.dirty || cantidadBronceado?.touched) && cantidadBronceado?.errors" class="form-error">
          <span *ngIf="cantidadBronceado?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">¿Es tu cara sensible al sol?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="sensibilidadDeCaraConSol" placeholder="Seleccione su condición" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.sensibilidadDeCaraConSol" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div *ngIf="(sensibilidadDeCaraConSol?.dirty || sensibilidadDeCaraConSol?.touched) && sensibilidadDeCaraConSol?.errors" class="form-error">
        <span *ngIf="sensibilidadDeCaraConSol?.errors?.['required']">Este campo es necesario</span>
      </div>

      <h3 class="question-title">Exposición intencional (hábitos de bronceado)</h3>
      <div>
        <ion-item>
          <ion-label class="question-label"> ¿Con qué frecuencia te bronceas?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="frecuenciaBronceo" placeholder="Seleccione su respuesta" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.frecuenciaBronceo" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>
      <div *ngIf="(frecuenciaBronceo?.dirty || frecuenciaBronceo?.touched) && frecuenciaBronceo?.errors" class="form-error">
        <span *ngIf="frecuenciaBronceo?.errors?.['required']">Este campo es necesario</span>
      </div>

      <div>
        <ion-item>
          <ion-label class="question-label">Cuándo fue la última vez que expuso su piel a la bronceado solar o fuentes artificiales (camas de bronceado)?</ion-label>
        </ion-item>
        <ion-item>
          <ion-select formControlName="ultimaExposicion" placeholder="Seleccione su respuesta" >
            <ion-select-option *ngFor="let opcion of app.fitzpatrick.ultimaExposicion" [value]="opcion.id">
              {{opcion.value}}</ion-select-option>
          </ion-select>
        </ion-item>
        <div *ngIf="(ultimaExposicion?.dirty || ultimaExposicion?.touched) && ultimaExposicion?.errors" class="form-error">
          <span *ngIf="ultimaExposicion?.errors?.['required']">Este campo es necesario</span>
        </div>
      </div>
		</div>
  </form>
</ion-content>

<ion-footer>
  <div class="center">
      <ion-button id="crear-perfil-button" type="submit" (click)="verificar()" expand="block">
        Crear perfil dermatológico
      </ion-button>
  </div>
</ion-footer>
