<ion-header >
  <ion-toolbar >
    <ion-title>Notificaciones</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header id="notificacion-0">
      <ion-card-title>Cita asignada</ion-card-title>
      <ion-card-subtitle>La consulta #1234 tiene una cita asgianda</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Señor usuario tiene una cita el dia xx/xx/xxxx con el médico Nombres Apellidos
    </ion-card-content>
  </ion-card>

</ion-content>