<ion-header>
	<ion-toolbar >
		<ion-title class="center">{{ 'registroUsuario.titulo'| translate }}</ion-title>
    <a *ngIf="lang ==='es'" (click)="cambiarIdioma('en')">English</a>
    <a *ngIf="lang ==='en'" (click)="cambiarIdioma('es')">Spanish</a>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="registrarse()" [formGroup]="registro">
		<div class="input-group">
			<ion-item>
        <ion-label>{{ 'registroUsuario.email'| translate }}</ion-label>
				<ion-input type="email" placeholder="{{ 'registroUsuario.email'| translate }}" formControlName="email"></ion-input>
			</ion-item>
      <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="form-error">
				<span *ngIf="email?.errors?.['required']">{{ 'registroUsuario.correoRequerido'| translate }}</span>
				<span *ngIf="email?.errors?.['email']">{{ 'registroUsuario.invalidoCorreo'| translate }}</span>
			</div>

      <ion-item>
        <ion-label>{{ 'registroUsuario.nombre'| translate }}</ion-label>
				<ion-input type="text" placeholder="{{ 'registroUsuario.nombre'| translate }}" formControlName="nombre"></ion-input>
			</ion-item>
      <div *ngIf="(nombre?.dirty || nombre?.touched) && nombre?.errors" class="form-error">
        <span *ngIf="nombre?.errors?.['required']">{{ 'registroUsuario.nombreRequerido'| translate }}</span>
				<span *ngIf="nombre?.errors?.['minlength']">{{ 'registroUsuario.minimoCaracteresNombre'| translate }}</span>
        <span *ngIf="nombre?.errors?.['maxlength']">{{ 'registroUsuario.maximoCaracteresNombre'| translate }}</span>
			</div>

      <ion-item>
        <ion-label>{{ 'registroUsuario.edad'| translate }}</ion-label>
				<ion-input type="number" placeholder="{{ 'registroUsuario.edad'| translate }}" formControlName="edad"></ion-input>
			</ion-item>
      <div *ngIf="(edad?.dirty || edad?.touched) && edad?.errors" class="form-error">
        <span *ngIf="edad?.errors?.['required']">{{ 'registroUsuario.edadRequerido'| translate }}</span>
				<span *ngIf="edad?.errors?.['min']">{{ 'registroUsuario.minimoCaracteresEdad'| translate }}</span>
        <span *ngIf="edad?.errors?.['max']">{{ 'registroUsuario.maximoCaracteresEdad'| translate }}</span>
			</div>

      <ion-item>
        <ion-label>{{ 'registroUsuario.lugarResidencia'| translate }}</ion-label>
				<ion-input type="text" placeholder="{{ 'registroUsuario.placeholderResidencia'| translate }}" formControlName="residencia"></ion-input>
			</ion-item>
      <div *ngIf="(residencia?.dirty || residencia?.touched) && residencia?.errors" class="form-error">
				<span *ngIf="residencia?.errors?.['required']">{{ 'registroUsuario.lugarResidenciaRequerido'| translate }}</span>
        <span *ngIf="residencia?.errors?.['minlength']">{{ 'registroUsuario.minimoCaracteresLugarResidencia'| translate }}</span>
        <span *ngIf="residencia?.errors?.['maxlength']">{{ 'registroUsuario.maximoCaracteresLugarResidencia'| translate }}</span>
      </div>

      <ion-button id="perfil-dermatologico-button" *ngIf="!validacionPerfilDematologico?.value" type="button" expand="block" (click)="crearPerfilDermatologico()">
        {{ 'registroUsuario.botonCrearPerfilDermatologico'| translate }}
      </ion-button>

      <ion-item *ngIf="validacionPerfilDematologico?.value">
        <ion-checkbox slot="start" formControlName="validacionPerfilDematologico"></ion-checkbox>
        <ion-label>{{ 'registroUsuario.labelPefilDermatologicoCreado'| translate }}</ion-label>
      </ion-item>
      <div *ngIf="(validacionPerfilDematologico?.dirty || validacionPerfilDematologico?.touched) && residencia?.errors" class="form-error">
				<span *ngIf="validacionPerfilDematologico?.errors?.['required']">{{ 'registroUsuario.perfilDermatologicoRequerido'| translate }}</span>
			</div>

			<ion-item>
        <ion-label>{{ 'registroUsuario.contrasena'| translate }}</ion-label>
				<ion-input type="password" placeholder="{{ 'registroUsuario.contrasena'| translate }}" formControlName="password"></ion-input>
			</ion-item>
      <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="form-error">
				<span *ngIf="password?.errors?.['required']">{{ 'registroUsuario.contrasenaRequerida'| translate }}</span>
        <span *ngIf="password?.errors?.['minlength']">{{ 'registroUsuario.minimoCaracteresContrasena'| translate }}</span>
        <span *ngIf="password?.errors?.['maxlength']">{{ 'registroUsuario.maximoCaracteresContrasena'| translate }}</span>
      </div>

      <ion-item>
        <ion-label>{{ 'registroUsuario.confirmacionContrasena'| translate }}</ion-label>
				<ion-input type="password" placeholder="{{ 'registroUsuario.contrasena'| translate }}" formControlName="passwordConfirmation"></ion-input>
			</ion-item>
      <div *ngIf="(passwordConfirmation?.dirty || passwordConfirmation?.touched) && passwordConfirmation?.errors" class="form-error">
				<span *ngIf="passwordConfirmation?.errors?.['required']">{{ 'registroUsuario.contrasenaRequerida'| translate }}</span>
        <span *ngIf="passwordConfirmation?.errors?.['minlength']">{{ 'registroUsuario.minimoCaracteresContrasena'| translate }}</span>
        <span *ngIf="passwordConfirmation?.errors?.['maxlength']">{{ 'registroUsuario.maximoCaracteresContrasena'| translate }}</span>
        <span *ngIf="passwordConfirmation?.errors?.['confirmedValidator']">{{ 'registroUsuario.coincidenContrasenas'| translate }}</span>
      </div>

      <ion-item>
        <ion-checkbox slot="start" formControlName="terminosCondiciones"></ion-checkbox>
        <ion-label>{{ 'registroUsuario.labelAceptaTerminos'| translate }}
          <a (click)="verTerminosYCondiciones()"> {{ 'registroUsuario.leer'| translate }}</a>
        </ion-label>
      </ion-item>
      <div *ngIf="(terminosCondiciones?.dirty || terminosCondiciones?.touched) && terminosCondiciones?.errors" class="form-error">
				<span *ngIf="terminosCondiciones?.errors?.['required']">{{ 'registroUsuario.labelAceptaTerminosRequerido'| translate }}</span>
			</div>

		</div>
	</form>
</ion-content>
<ion-footer>
  <div class="center">
      <ion-button id="register-button" type="submit" expand="block" (click)="registrarse()">
        {{ 'registroUsuario.botonRegistrarse'| translate }}
      </ion-button>
  </div>
</ion-footer>
