<ion-header>
	<ion-toolbar >
		<ion-title class="center">Registro</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<form (ngSubmit)="registrarse()" [formGroup]="registro">
		<div class="input-group">
			<ion-item>
        <ion-label>Email</ion-label>
				<ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
			</ion-item>
      <div *ngIf="(email?.dirty || email?.touched) && email?.errors" class="form-error">
				<span *ngIf="email?.errors?.['required']">El correo es requerido</span>
				<span *ngIf="email?.errors?.['email']">El correo es inválido</span>
			</div>

      <ion-item>
        <ion-label>Nombre</ion-label>
				<ion-input type="text" placeholder="Nombre" formControlName="nombre"></ion-input>
			</ion-item>
      <div *ngIf="(nombre?.dirty || nombre?.touched) && nombre?.errors" class="form-error">
        <span *ngIf="nombre?.errors?.['required']">El nombre es requerido</span>
				<span *ngIf="nombre?.errors?.['minlength']">El nombre necesita un mínimo de 4 caracteres</span>
        <span *ngIf="nombre?.errors?.['maxlength']">El nombre necesita un máximo de 60 caracteres</span>
			</div>

      <ion-item>
        <ion-label>Edad</ion-label>
				<ion-input type="number" placeholder="Edad" formControlName="edad"></ion-input>
			</ion-item>
      <div *ngIf="(edad?.dirty || edad?.touched) && edad?.errors" class="form-error">
        <span *ngIf="edad?.errors?.['required']">La edad es requerida</span>
				<span *ngIf="edad?.errors?.['min']">La edad mínima es de 18 años.</span>
        <span *ngIf="edad?.errors?.['max']">La edad máxima es de 99 años.</span>
			</div>

      <ion-item>
        <ion-label>Lugar de residencia</ion-label>
				<ion-input type="text" placeholder="Residencia" formControlName="residencia"></ion-input>
			</ion-item>
      <div *ngIf="(residencia?.dirty || residencia?.touched) && residencia?.errors" class="form-error">
				<span *ngIf="residencia?.errors?.['required']">La residencia es requerida</span>
        <span *ngIf="residencia?.errors?.['minlength']">La residencia necesita un mínimo de 4 caracteres</span>
        <span *ngIf="residencia?.errors?.['maxlength']">la residencia necesita un máximo de 20 caracteres</span>
      </div>

      <ion-button id="perfil-dermatologico-button" *ngIf="!validacionPerfilDematologico?.value" type="button" expand="block" (click)="crearPerfilDermatologico()">
        Crear perfil dematológico
      </ion-button>

      <ion-item *ngIf="validacionPerfilDematologico?.value">
        <ion-checkbox slot="start" formControlName="validacionPerfilDematologico"></ion-checkbox>
        <ion-label>Pefil dematológico creado</ion-label>
      </ion-item>
      <div *ngIf="(validacionPerfilDematologico?.dirty || validacionPerfilDematologico?.touched) && residencia?.errors" class="form-error">
				<span *ngIf="validacionPerfilDematologico?.errors?.['required']">El  perfil dematológico es requerido</span>
			</div>

			<ion-item>
        <ion-label>Contraseña</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
			</ion-item>
      <div *ngIf="(password?.dirty || password?.touched) && password?.errors" class="form-error">
				<span *ngIf="password?.errors?.['required']">La contraseña es requerida</span>
        <span *ngIf="password?.errors?.['minlength']">La contraseña nombre necesita un mínimo de 4 caracteres</span>
        <span *ngIf="password?.errors?.['maxlength']">La contraseña necesita un máximo de 60 caracteres</span>
      </div>

      <ion-item>
        <ion-label>Confirmar Contraseña</ion-label>
				<ion-input type="password" placeholder="Password" formControlName="passwordConfirmation"></ion-input>
			</ion-item>
      <div *ngIf="(passwordConfirmation?.dirty || passwordConfirmation?.touched) && passwordConfirmation?.errors" class="form-error">
				<span *ngIf="passwordConfirmation?.errors?.['required']">La contraseña es requerida</span>
        <span *ngIf="passwordConfirmation?.errors?.['minlength']">La contraseña necesita un mínimo de 4 caracteres</span>
        <span *ngIf="passwordConfirmation?.errors?.['maxlength']">La contraseña necesita un máximo de 60 caracteres</span>
        <span *ngIf="passwordConfirmation?.errors?.['confirmedValidator']">La contraseñas deben coincidir</span>
      </div>

      <ion-item>
        <ion-checkbox slot="start" formControlName="terminosCondiciones"></ion-checkbox>
        <ion-label>Aceptar terminos y condiciones.
          <a>Leer</a>
        </ion-label>
      </ion-item>
      <div *ngIf="(terminosCondiciones?.dirty || terminosCondiciones?.touched) && terminosCondiciones?.errors" class="form-error">
				<span *ngIf="terminosCondiciones?.errors?.['required']">Aceptar termino y condiciones es requerido</span>
			</div>

		</div>
	</form>
</ion-content>
<ion-footer>
  <div class="center">
      <ion-button id="register-button" type="submit" expand="block" (click)="registrarse()">
        Registrarse
      </ion-button>
  </div>
</ion-footer>
