.crear-consulta-title {
    padding-top:25px;
    text-align:center;
}

.crear-consulta-info {
    padding: 20px ;
    text-align:justify;
}

.form-item {
    width: 100%;
}

.form-title {
    padding-left: 20px;
}



ion-select::part(placeholder),
ion-select::part(text) {
    white-space: break-spaces!important;
}

